extends layout.pug

block content
    div.container
        h2 Settings
        a.btn.btn--primary(href='/settings/reset') Reset

        p Upon clicking the reset button: your wallet, budget and all transactions will be cleared!